@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  padding: 0;
}

#start-btn {
  width: 120px;
  padding: 5px;
}

.fas.fa-umbrella-beach {
  color: green;
  font-size: 5rem;
  margin-top: 30px;
}

.fas.fa-umbrella-beach.orchid {
  color: darkorchid;
}

.beach {
  height: 100px;
  width: 100vw;
}

.sand {
  background-color: #F5DA89;
}

.water {
  background-color: #40E0D0;
  display: flex;
  align-items: center;
}

.fas.fa-fish {
  color: goldenrod;
  font-size: 2rem;

}

.fas.fa-fish:hover {
  color: mediumvioletred;
  font-size: 2.5rem;
  transform: translate(100vw,0);
  transition: transform linear 3s;
}

.sky {
  background-color: #87CEFF;
  padding: 10px 10px 0;
}

h1, p {
  margin-bottom: 10px;
}

p {
  font-size: 20px;
}
